<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Georgia, 'Times New Roman', Times, serif">
    <h1 style="font-family: 'Eater', cursive;">Welcome to Gitpub!</h1>
    <br></br>
    <h3> DRINKS </h3>
    <ul>
        <% for(let i = 0; i < drinks.length; i++) { %>
        <li>
          <a href="/drinks/<%=i%>"><%=drinks[i].name %></a>
        </li>
        <% } %>
    </ul>
    <br></br>
    <h3> FOOD </h3>
    <ul>
        <% for(let i = 0; i < food.length; i++) { %>
        <li>
          <a href="/food/<%=i%>"><%=food[i].name %></a>
        </li>
        <% } %>
    </ul>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Eater&family=Open+Sans:wght@300&family=Poiret+One&display=swap');
    </style>


    <style type="text/css">
        body {
          color: rgb(212, 125, 26);
          background: url('https://i.imgur.com/xrObc8C.jpg') no-repeat center center fixed;
          background-size: cover;
          text-align: center;
        }
    </style>

    <style>
    li, ul {
        text-transform: capitalize;
        text-align: left;
        list-style-position: inside;
        margin-left: 20%;
    }
    </style>

    <style>
    a:link {
      color: rgb(0, 0, 0);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color: rgb(179, 17, 17);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: rgb(226, 226, 226);
      background-color: transparent;
      text-decoration: underline;
    }
    
    a:active {
      color: rgb(179, 17, 17);
      background-color: transparent;
      text-decoration: underline;
    }
    </style>



    
</body>
</html>